body{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}
.contacts{
    box-sizing: inherit;
    margin: auto;
}
.contacts-header {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 50px;
}
.contact-blocks {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 11%;
    row-gap: 25px;
    justify-content: start;
}
.contacts-text {
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    margin: 0;
    width: inherit;
}
.contacts-text:hover{
    color: blue;
    cursor: pointer;
}
.contacts-subtext {
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 300;
    color: gray;
    width: inherit;
}
.contacts-block {
}

.contacts-info {
    margin: auto;
    margin-top: 100px;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 30px;
    width: 80%;
}
.contacts-info-header {
    font-size: 30px;
    font-weight: 600;
    width: 550px;
    z-index: 1;
    /*text-shadow: 1px 1px 2px rgb(209, 209, 209), 0 0 1em rgb(154, 154, 156), 0 0 0.2em rgb(105, 105, 105);*/
}
.contacts-info-maps {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.2s;
    margin-top: 50px;
    margin-bottom: 200px;
    border: none;
    font-weight: bolder;
    color: black;
}
.contacts-info-maps:hover{
    background-color: black;
    color: white;
}
.contacts-info-img{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 1000px;
    height: 800px;
    top: -100px;
    right: -200px;
    z-index: 0;
}
.contacts-info-text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;
    position: relative;
}
.contacts-info-subtext {
    font-size: 15px;
    width: 400px;
    color: gray;
    margin-bottom: 50px;
    font-weight: 300;
    z-index: 1;
    position: relative;
}
.contacts-info-subtext:last-child {
    font-size: 15px;
    width: 600px;
    color: gray;
    margin-bottom: 0;
    width: inherit;
}
.contacs-phone {
    width: 50%;
    background-color: rgb(230, 230, 230);
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.contacs-phone-title {
    width: 60%;
}
.contacs-phone-text {
    font-size: 30px;
    font-weight: 500;
    transition: 0.2s;
    margin: 0;
    width: inherit;
    margin-bottom: 30px;
}
.contacs-phone-subtext {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    width: inherit;
}
.contacs-phone-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacs-phone-info-text {
    border-radius: 8px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0.5em;
    border: none; outline: 3px solid transparent;
    background-image: 
    linear-gradient(to bottom, #cacaca 3px, transparent 3px), 
    linear-gradient(to bottom, #cacaca 3px, transparent 3px), 
    linear-gradient(to right, #cacaca 3px, transparent 3px, transparent calc(100% - 3px), #cacaca calc(100% - 3px)), 
    linear-gradient(to top, #cacaca 3px, transparent 3px);
    background-position: -100% 0%, 200% 0%, 0% 100%, 0% 100%;
    background-size: 20% 100%, 20% 100%, 100% 3px, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size .4s ease-out .6s, background-position .6s ease-in;
}
  
  .contacs-phone-info-text:focus {
    background-position: 0% 0%, 100% 0%, 0% 100%, 0% 100%;
    background-size: 51% 100%, 51% 100%, 100% 100%, 100% 100%;
    transition: background-size .4s ease-in, background-position .6s ease-out .4s;
  }
.contacs-phone-info-text::placeholder {
    padding-left: 15px; /* Устанавливаем отступ справа на 20 пикселей (или любое другое значение) */
  }
.contacs-phone-info-text:last-child{
    border-radius: 8px;
    border: none;
    height: 50px;
    width: 100%;
}
.filebutton{
    background-color: rgb(209, 209, 209);
    border: 1px dashed rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: black;
}
.filebutton:hover{
    background: white;
    cursor: pointer;
}
.filebutton-img{
    width: 30px;
    height: 30px;
}
.sendbutton{
    background-color: blue;
    color: white;
    transition: 0.2s;
    color: white;
}
.sendbutton:hover{
    background: black;
    cursor: pointer;
}
.policity{
    font-size: 10px;
    font-weight: 100;
}

@media (max-width: 1200px){
    .contact-blocks {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        column-gap: 11%;
        row-gap: 25px;
        justify-content: start;
    }
}
@media (max-width: 1000px){
    .contacts-text {
        font-size: 15px;
    }
    .contacts-info-form{
        height: 0;
    }
    .contacts-info-img{
        position: relative;
        width: 800px;
        height: 500px;
        top: 0;
        left: 0;
    }
}
@media (max-width: 800px){
    .contacts-header{
        font-size: 20px;
        margin: 30px;
    }
    .contacts-text{
        width: inherit;
    }
    .contacts-subtext{
        width: inherit;
    }
    .contact-blocks {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        column-gap: 11%;
        row-gap: 25px;
        justify-content: start;
    }
    .contacts-info{
    }
    .contacts-info-form{
        height: 0;
    }
    .contacts-info-maps {
        margin: 0;
        margin-top: 20px;
        width: inherit;
    }
    .contacts-info-header{
        font-size: 20px;
        width: inherit;
    }
    .contacts-info-text{
        width: inherit;
    }
    .contacts-info-subtext{
        width: inherit;
    }
    .contacts-info-img{
        position: relative;
        width: 700px;
        height: 700px;
        left: -150px;
        top: 30px;
    }
    .contacs-phone{
        flex-direction: column;
    }
    .contacs-phone-title{
        width: 100%;
        margin-bottom: 30px;
    }
    .contacs-phone-text{
        font-size: medium;
    }
    .contacs-phone-subtext{
        font-size: medium;
    }
    .contacs-phone-info{
        width: 100%;
    }
}